#menu {
	position: relative;
	text-align: center;
}

#logo {
	padding-bottom: 150px;
	width: 50%;
	height: auto;
}

h1 {
	font-size: 50px;
}

#game {
	max-width: 20%;
	height: auto;
}

article {
	box-shadow: 10px 10px grey;
	margin-left: 15%;
	margin-right: 15%;
	border: 1px solid black;
}

p {
	position: relative;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 25px;
}

ul {
	text-align: left;
}

li {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 25px;
}

body {
	background-color: lightgrey;
}

#home {
	max-width: 3%;
	height: auto;
	border: 3px solid black;
	position: fixed;
	top: 0;
	left: 0;
}