#menu {
	position: relative;
	text-align: center;
}

ul {
	list-style: none;
	display: flex;
	margin-right: 50px;
}

a {
	text-decoration: none;
	color: black;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid black;
	border-collapse: collapse;
	width: 25%;
	font-size: 25px;
}

a:hover {
	background-color: black;
	color: white;
}

#logo {
	padding-bottom: 150px;
	width: 50%;
	height: auto;
}

h1 {
	font-size: 50px;
	
}

body {
	background-color: lightgrey;
}