#menu {
	position: relative;
	text-align: center;
}

#logo {
	padding-bottom: 150px;
	width: 50%;
	height: auto;
}

h1 {
	font-size: 50px;
}

body {
	background-color: lightgrey;
}

#home {
	max-width: 3%;
	height: auto;
	border: 3px solid black;
	position: fixed;
	top: 0;
	left: 0;
}

form {
	box-shadow: 10px 10px grey;
	margin-left: 35%;
	margin-right: 35%;
	border: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
}